/* styles.css */
body, html {
  height: 100%;
  width: 100%;  /* Ensure the body and html take up full width */
  margin: 0;
  padding: 0;  /* Remove any default padding */
  overflow: hidden;  /* Hide overflow to prevent scrollbars */
  display: flex;
  font-family: Arial, sans-serif;
}
#main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#controls-container {
  flex: 0 0 33%;
  background-color: #f8f8f8;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#visualization-container {
  flex-grow: 1;
  background-color: #eee;
  overflow: hidden;
}

.row {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around; /* This will space out the buttons evenly */
}

.gate-button {
  flex-grow: 1; /* Makes buttons expand to fill their container */
  margin: 0 10px; /* Adds some space between buttons */
  padding: 10px 20px; /* Better touch area and aesthetics */
}


button {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
